<ion-header>
  <ion-toolbar>
    <ion-title>
      Podedex
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-searchbar (ionChange)="buscarPokemon($event)" placeholder="Buscar Pokemons"></ion-searchbar>

  <ion-list>

    <!-- *ngFor="let historico of pergunta.historico>
    {{historico.pergunta_historico}}

    color="{{pokemon.tipos[0] | lowercase}}
    */ -->

    <ion-item *ngFor="let pokemon of listaPokemonsFiltrada" lines="full" class="ion-no-padding"
    (click)="abrirPokemon(pokemon)">
      <ion-thumbnail slot="start">
        <img [src]="pokemon.sprites.front_default">
      </ion-thumbnail>
      <ion-label>
        <div>
          <h3>{{pokemon.name | titlecase}}</h3>
          <div >
            <ion-badge *ngFor="let tipo of pokemon.types" [color]="tipo.type.name | lowercase">
              {{tipo.type.name | titlecase}}</ion-badge>
          </div>
        </div>
      </ion-label>
      <ion-chip [color]="pokemon.types[0].type.name | lowercase">
        <ion-label>{{pokemon.id}}</ion-label>
      </ion-chip>
    </ion-item>

  </ion-list>

</ion-content>
