<ion-header>
  <ion-toolbar color="rosinha">
    <ion-title>
      Podedex App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-searchbar placeholder="Buscar Pokemons"></ion-searchbar>

  <ion-list>
    
    <ion-item lines="full" class="ion-no-padding">
      <ion-thumbnail slot="start">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png">
      </ion-thumbnail>
      <ion-label>
        <div>
          <h3>Bulbasaur</h3>
          <ion-badge color="grass">Grass</ion-badge>
          <ion-badge color="poison">Poison</ion-badge>
        </div>
      </ion-label>
      <ion-chip color="grass">
        <ion-label>001</ion-label>
      </ion-chip>
    </ion-item>
    
    <ion-item lines="full" class="ion-no-padding">
      <ion-thumbnail slot="start">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/002.png">
      </ion-thumbnail>
      <ion-label>
        <div>
          <h3>Ivysaur</h3>
          <ion-badge color="grass">Grass</ion-badge>
          <ion-badge color="poison">Poison</ion-badge>
        </div>
      </ion-label>
      <ion-chip color="grass">
        <ion-label>002</ion-label>
      </ion-chip>
    </ion-item>
    
    <ion-item lines="full" class="ion-no-padding">
      <ion-thumbnail slot="start">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/003.png">
      </ion-thumbnail>
      <ion-label>
        <div>
          <h3>Venusaur</h3>
          <ion-badge color="grass">Grass</ion-badge>
          <ion-badge color="poison">Poison</ion-badge>
        </div>
      </ion-label>
      <ion-chip color="grass">
        <ion-label>003</ion-label>
      </ion-chip>
    </ion-item>
    
    <ion-item lines="full" class="ion-no-padding">
      <ion-thumbnail slot="start">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/004.png">
      </ion-thumbnail>
      <ion-label>
        <div>
          <h3>Charmander</h3>
          <ion-badge color="fire">Fire</ion-badge>
        </div>
      </ion-label>
      <ion-chip color="fire">
        <ion-label>004</ion-label>
      </ion-chip>
    </ion-item>

  </ion-list>

</ion-content>