<ion-header>
  <ion-toolbar>
    <ion-title>
      Podedex
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-searchbar (ionChange)="buscarPokemon($event)" placeholder="Buscar Pokemons"></ion-searchbar>

  <ion-list>

    <!-- *ngFor="let historico of pergunta.historico>
    {{historico.pergunta_historico}}

    color="{{pokemon.tipos[0] | lowercase}}
    */ -->

    <ion-item *ngFor="let pokemon of listaPokemonsFiltrada" class="ion-no-padding"
      routerLink="/bulbasaur">
      <ion-thumbnail slot="start">
        <img [src]="pokemon.foto">
      </ion-thumbnail>
      <ion-label>
        <div>
          <h3>{{pokemon.nome}}</h3>
          <div >
            <ion-badge *ngFor="let tipo of pokemon.tipos" [color]="tipo | lowercase">{{tipo}}</ion-badge>
          </div>
        </div>
      </ion-label>
      <ion-chip [color]="pokemon.tipos[0] | lowercase">
        <ion-label>{{pokemon.numero}}</ion-label>
      </ion-chip>
    </ion-item>

  </ion-list>

</ion-content>
